.cproject
.depend
.project
.settings/
*.o
stockfish
node_modules/
*~
etc/
merged_data.json
example/
src/*.cpp
src/*.h
src/*.map
src/*.mem
src/*.nnue
src/Makefile
.gitignore
build.js
tester.js
scripts/
tests/
src/emscripten/
src/incbin/
src/nnue/
src/syzygy

